{% extends "base.html" %}

{% block title %} Washtub Liquidsoap Controller - Please Login {% endblock title %}

 
{% block userstatus %}
	{% if user.is_authenticated %}
		Hello {{ user.first_name }}!&nbsp;<a class="action" href="/washtub/logout">Logout?</a>
	{% else %}
		<form method="post" action=".">
		{{ form.username.label_tag }}:&nbsp;{{ form.username }}&nbsp;&nbsp;
		{{ form.password.label_tag }}:&nbsp;{{ form.password }}
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	{% endif %}
{% endblock userstatus %}

{% block errormessage %}
{% if form.errors %}
	<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
		<strong>Alert:</strong> There was a problem with Authentication.</p>
	</div>
	</div>
{% endif %}
{% endblock errormessage %}
  
{% block content %}

<div id="accordion">
	<div>
	<h3><a href="#">Please login to continue...</a></h3>
	<div>
    <ul>
	{% if form.errors %}
	<li>You may have entered the wrong password.  Retrieve your password <a href="/washtub/password_reset/">here</a>.</li>
	<li>You attempted to access a private area of <b>{{ site_name }}</b>.  Login to access or contact the administrator to gain access.</li>
	{% else %}
	<li>This is the <b>{{ site_name }}</b> login page.  Retrieve your password <a href="/washtub/password_reset/">here</a>.</li>
	<li>Login to access or contact the administrator to gain access.</li>
	 {% endif %}
	</ul></div>
	</div>
</div>


{% endblock content %}