{% extends "base.html" %}

{% block title %} Washtub Liquidsoap Controller - Page Not Found {% endblock title %}

{% block errormessage %}
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
		<strong>Alert:</strong> Error 404 - Page Not Found</p>
	</div>
</div>
{% endblock errormessage %}

{% block content %}
<div id="tabs">
    <ul>
    	<li><a href="#tabs-1">Page Not Found</a></li>
    </ul>
    <div id="tabs-1">
	</div>
</div>
{% endblock content %}