<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>
        {% block title %} Washtub {% endblock title %}
</title> 
<link rel="Shortcut Icon" href="/media/images/favicon.ico"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Washtub, the liquidsoap controller." />
<meta name="keywords" content="" />
<meta name="author" content="Chris Everest" />
<link rel="stylesheet" type="text/css" href="/washtub/media/css/main.css" />
<base target="_top" />
<link type="text/css" href="/washtub/media/css/washtub-theme/jquery-ui-1.7.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/washtub/media/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/washtub/media/js/jquery-ui-1.7.custom.min.js"></script>
<script type="text/javascript" src="/washtub/media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(function(){
	// Accordion
	$("#accordion").accordion({ header: "h3" });
	
	//Tabs
	$('#tabs').tabs();
	{% block tabselect %}
	{% endblock tabselect %}
	
	//Call Table Sorter
	$("#metaTable0").tablesorter({
		widgets: ['zebra']
	});
	
	//Call Table Sorter
	$("#metaTable1").tablesorter({
		widgets: ['zebra']
	});
	
	//Call Table Sorter
	$("#metaTable2").tablesorter({
		widgets: ['zebra']
	});
	
	//Call Table Sorter
	$("#historyTable0").tablesorter({
		widgets: ['zebra']
	});
	
	//Call Table Sorter
	$("#historyTable1").tablesorter({
		widgets: ['zebra']
	});
	
	//Call Table Sorter
	$("#onAirTable").tablesorter({
		widgets: ['zebra']
	});
	
	//Call Table Sorter
	$("#aliveTable").tablesorter({
		widgets: ['zebra']
	});
	
	//Call Table Sorter
	$("#poolTable").tablesorter({
		widgets: ['zebra']
	});
	
});
</script>
<script type="text/javascript" src="/washtub/media/js/main.js"></script>
{% block extrahead %}
{% endblock extrahead %}
</head>
<body>
<div class="header">
  <div class="status"> 
    {% block userstatus %}
      {% if user.is_authenticated %}
        Hello {{ user.first_name }}!&nbsp;<a class="action" href="/washtub/logout">Logout?</a> 
      {% else %}
        Please <a href="/washtub/login" >log-in</a> to continue....<a class="action" href="/washtub/password_reset">Retrieve Password</a>
      {% endif %}
    {% endblock userstatus %}
  </div>
  <div class="navigation">
    <select id="HostList" onchange="GetHostStatus()">
    <option>----------</option>
    {% if user.is_authenticated %}
    {% for name in hosts %}{% ifequal name active_host %}<option selected="yes">{% else %}<option>{% endifequal %}{{ name }}</option>{% endfor %}
    {% endif %}
    </select>
    {% if user.is_staff %}
    <a class="menu" href="/washtub/admin">Administration Panel</a>
    <b>{% filter force_escape %}::{% endfilter %}</b> 
    <a class="menu" href="/washtub/mediapool/scan">Scan Media</a>
    {% endif %}
  </div>  
</div>

{% block content %}
    {% block errormessage %}
	 <div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
			<strong>Alert:</strong>{{ error }}</p>
		</div>
	 </div>
    {% endblock errormessage %}
{% endblock content %}
</body>
</html>