<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>
        {% block title %} Washtub {% endblock title %}
</title> 
<link rel="Shortcut Icon" href="/media/images/favicon.ico"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Washtub, the liquidsoap controller." />
<meta name="keywords" content="" />
<meta name="author" content="Chris Everest" />
<link rel="stylesheet" type="text/css" href="/media/style/webalizer.css" />
<link rel="stylesheet" type="text/css" href="/media/style/main.css" />
<base target="_top" />
<script type="text/javascript" src="/media/js/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/media/js/main.js"></script>
{% block extrahead %}
{% endblock extrahead %}
</head>

<body>

</body>
</html>