{% load controller_extras %}
					  {% for name, entries in history.items %}
					  	<b>History Detail(</b><i>{{ name|replacedot }}</i><b>):</b><br/>
						<script type="text/javascript">
							//Call Table Sorter
							$("#historyTable{{ forloop.counter0 }}").tablesorter({});
						</script>
					  	<table id="historyTable{{ forloop.counter0 }}" class="tablesorter"> 
						<thead> 
						<tr> 
						    <th class="pos">#</th> 
						    <th class="title">Title</th> 
						    <th class="artist">Artist</th> 
						    <th class="album">Album</th> 
						    <th class="status">Status</th>
						    <th class="onair">On Air</th>
						    <th class="rid">RID</th> 
						</tr>
			      	  	</thead>
			      	  	<tbody>
					  	{% for e in entries reversed%}
					  		{% for rid, listing in metadata_storage.items %}
					  			{% ifequal e rid %}
					  				<tr>
					  					<td class="pos">{{ forloop.parentloop.counter }}</td>
					  					<td>{{ listing.title|truncatewords:8 }}</td>
					  					<td>{{ listing.artist }}</td>
					  					<td>{{ listing.album|truncatewords:5 }}</td>
					  					<td>{{ listing.status }}</td>
					  					{% if listing.on_air %}
					  						<td>{{ listing.on_air }} {% now "T" %}</td>
					  					{% else %}
					  						<td></td>
					  					{% endif %}
					  					<td class="rid">{{ listing.rid }}</td>
					  				</tr>
					  			{% endifequal %}
			      	  	  	{% endfor %}
			      	  	{% endfor %}
			      	  	</tbody>
			      	  	</table>
			      	  	<br/>
					  {% endfor %}