{% extends "controller/pool.html" %}

{% block pooltab %}

{% block alertmessage %}
  {% if alert %}
	 <div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
			<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
			<strong>Notice:</strong> {{ alert }}</p>
		</div>
	 </div>
  {% endif %}
{% endblock alertmessage %}


{% block pagination %}
   <div class="pagination"> 
	<span class="pagination-pre">
	{% if single_page.has_previous %}&larr;<a href="{% url controller.views.display_status active_host %}?pg={{ single_page.previous_page_number }}&{{ query_string }}">previous</a>{% endif %}
	</span>
	{% if single_page.number %}
	<span class="pagination-count">page {{ single_page.number }} of {{ single_page.paginator.num_pages }}</span>
	{% endif %}
	<span class="pagination-next">
	{% if single_page.has_next %}<a href="{% url controller.views.display_status active_host %}?pg={{ single_page.next_page_number }}&{{query_string}}">next</a>&rarr;{% endif %}
	</span>
	</div>
{% endblock pagination %}


{% endblock pooltab %}