{% extends "base.html" %}
{% block title %}
   Washtub Liquidsoap Controller - Status
{% endblock title %}

{% block content %}
<div id="accordion">
  <div>
	<h3><a href="#">Server Tools</a></h3>
		<div>
		    <div id="tabs">
			    <ul>
			    	<li><a href="#tabs-1">Status</a></li>
			    	<li><a href="#tabs-2">Queues</a></li>
			    	<li><a href="#tabs-3">Help</a></li>
			    </ul>
			    <div id="tabs-1">    
					  {% for item in status %}
					  <b>{{ item.0 }}:</b>&nbsp;{{item.1}}<br/>
					  {% endfor %}
				</div>
			    <div id="tabs-2">
					  {% for name, entries in queue.items %}
					  	<b>Queue({{ name }}):</b><br/>
					  	<table id="metaTable" class="tablesorter"> 
						<thead> 
						<tr> 
						    <th>#</th> 
						    <th>Title</th> 
						    <th>Artist</th> 
						    <th>Album</th> 
						    <th>Status</th>
						    <th>Request ID</th> 
						</tr>
			      	  	</thead>
			      	  	<tbody>
					  	{% for e in entries %}
					  		{% for rid, listing in queue_metadata.items %}
					  			{% ifequal e rid %}
					  				<tr>
					  					<td>{{ listing.rid }}</td>
					  					<td>{{ listing.title }}</td>
					  					<td>{{ listing.artist }}</td>
					  					<td>{{ listing.album }}</td>
					  					<td>{{ listing.status }}</td>
					  					<td>{{ listing.rid }}</td>
					  				</tr>
					  			{% endifequal %}
			      	  	  	{% endfor %}
			      	  	{% endfor %}
			      	  	</tbody>
			      	  	</table>
			      	  	<br/>
					  {% endfor %}
				</div>
			    <div id="tabs-3">
			      	  <b>Available Commands:</b><br/>
					  {% for item in help %}
					  {% comment %} {{item}}<br/> {% endcomment %}
					  {% endfor %}
				</div>
			</div>
		</div>
  </div>
  <div>
	<h3><a href="#">Second</a></h3>
		<div>Phasellus mattis tincidunt nibh.</div>
  </div>

  <div>
	<h3><a href="#">Third</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
</div>

{% endblock content %}