{% extends "base.html" %}
{% block title %}
   Washtub Liquidsoap Controller - Status
{% endblock title %}

{% block content %}
<div id="accordion">
  <div>
	<h3><a href="#">Server Tools</a></h3>
		<div>
		    <div id="tabs">
			    <ul>
			    	<li><a href="#tabs-1">Status</a></li>
			    	<li><a href="#tabs-2">Queues</a></li>
			    	<li><a href="#tabs-3">Help</a></li>
			    </ul>
			    <div id="tabs-1">    
					  {% for item in status %}
					  <b>{{ item.0 }}:</b>&nbsp;{{item.1}}<br/>
					  {% endfor %}
					  <br/>
					  {% for name, entries in air_queue.items %}
					  	<b>Queue({{ name }}):</b><br/>
					  	<table id="metaTable{{ forloop.counter0 }}" class="tablesorter"> 
						<thead> 
						<tr> 
						    <th class="pos">#</th> 
						    <th class="title">Title</th> 
						    <th class="artist">Artist</th> 
						    <th class="album">Album</th> 
						    <th>Status</th>
						    <th class="onair">On Air</th>
						    <th class="rid">RID</th> 
						</tr>
			      	  	</thead>
			      	  	<tbody>
					  	{% for e in entries %}
					  		{% for rid, listing in metadata_storage.items %}
					  			{% ifequal e rid %}
					  				<tr>
					  					<td class="pos">{{ forloop.parentloop.counter }}</td>
					  					<td>{{ listing.title|truncatewords:6 }}</td>
					  					<td>{{ listing.artist }}</td>
					  					<td>{{ listing.album }}</td>
					  					<td>{{ listing.status }}</td>
					  					<td>{{ listing.on_air }}</td>
					  					<td class="rid">{{ listing.rid }}</td>
					  				</tr>
					  			{% endifequal %}
			      	  	  	{% endfor %}
			      	  	{% endfor %}
			      	  	</tbody>
			      	  	</table>
			      	  	<br/>
					  {% endfor %}
					  
					  {% for name, entries in alive_queue.items %}
					  	<b>Queue({{ name }}):</b><br/>
					  	<table id="metaTable{{ forloop.counter0 }}" class="tablesorter"> 
						<thead> 
						<tr> 
						    <th class="pos">#</th> 
						    <th class="title">Title</th> 
						    <th class="artist">Artist</th> 
						    <th class="album">Album</th> 
						    <th>Status</th>
						    <th class="onair">On Air</th>
						    <th class="rid">RID</th> 
						</tr>
			      	  	</thead>
			      	  	<tbody>
					  	{% for e in entries %}
					  		{% for rid, listing in metadata_storage.items %}
					  			{% ifequal e rid %}
					  				<tr>
					  					<td class="pos">{{ forloop.parentloop.counter }}</td>
					  					<td>{{ listing.title|truncatewords:6 }}</td>
					  					<td>{{ listing.artist }}</td>
					  					<td>{{ listing.album }}</td>
					  					<td>{{ listing.status }}</td>
					  					<td>{{ listing.on_air }}</td>
					  					<td class="rid">{{ listing.rid }}</td>
					  				</tr>
					  			{% endifequal %}
			      	  	  	{% endfor %}
			      	  	{% endfor %}
			      	  	</tbody>
			      	  	</table>
			      	  	<br/>
					  {% endfor %}
					  
				</div>
			    <div id="tabs-2">
					  {% for name, entries in queue.items %}
					  	<b>Queue({{ name }}):</b><br/>
					  	<table id="metaTable{{ forloop.counter0 }}" class="tablesorter"> 
						<thead> 
						<tr> 
						    <th class="pos">#</th> 
						    <th class="title">Title</th> 
						    <th class="artist">Artist</th> 
						    <th class="album">Album</th> 
						    <th>Status</th>
						    <th class="onair">On Air</th>
						    <th class="rid">RID</th> 
						</tr>
			      	  	</thead>
			      	  	<tbody>
					  	{% for e in entries %}
					  		{% for rid, listing in metadata_storage.items %}
					  			{% ifequal e rid %}
					  				<tr>
					  					<td class="pos">{{ forloop.parentloop.counter }}</td>
					  					<td>{{ listing.title|truncatewords:6 }}</td>
					  					<td>{{ listing.artist }}</td>
					  					<td>{{ listing.album }}</td>
					  					<td>{{ listing.status }}</td>
					  					<td>{{ listing.on_air }}</td>
					  					<td class="rid">{{ listing.rid }}</td>
					  				</tr>
					  			{% endifequal %}
			      	  	  	{% endfor %}
			      	  	{% endfor %}
			      	  	</tbody>
			      	  	</table>
			      	  	<br/>
					  {% endfor %}
				</div>
			    <div id="tabs-3">
			      	  <b>Available Commands:</b><br/>
					  {% for item in help %}
					  {{item}}<br/>
					  {% endfor %}
				</div>
			</div>
		</div>
  </div>
  <div>
	<h3><a href="#">Second</a></h3>
		<div>Phasellus mattis tincidunt nibh.</div>
  </div>

  <div>
	<h3><a href="#">Third</a></h3>
		<div>Nam dui erat, auctor a, dignissim quis.</div>
	</div>
</div>

{% endblock content %}